<!doctype html>
<html ng-app="DuckieTV" ng-csp ng-strict-di>
<head>
  <meta charset="UTF-8">
  <title>DuckieTV</title>

  <link rel="stylesheet" href="dist/style.css">
  <link rel="stylesheet" media="print" href="dist/print.css">
  <link rel="shortcut icon" type="image/png" href="img/logo/icon16.png" />
<meta name="viewport" content="width=1920,height=1080,target-densitydpi=device-dpi,user-scalable=yes" /></head>
<body kc>
  <div class="windowChrome">
    <button class="glyphicon glyphicon-win-minimize" id='minimize' uib-tooltip="{{ 'COMMON/minimize/btn'|translate }}" tooltip-placement="bottom"></button>
    <button class="glyphicon glyphicon-win-restore" id='unmaximize' uib-tooltip="{{ 'TAB/unmaximize/glyph'|translate }}" tooltip-placement="bottom" style='display:none'></button>
    <button class="glyphicon glyphicon-win-maximize" id='maximize' uib-tooltip="{{ 'TAB/maximize/glyph'|translate }}" tooltip-placement="bottom"></button>
    <button class="glyphicon glyphicon-win-close" id='close' uib-tooltip="{{ 'COMMON/close/btn'|translate }}" tooltip-placement="bottom"></button>
  </div>

  <background-rotator channel="'background:load'" style="opacity:{{getSetting('background-rotator.opacity')}}"></background-rotator>
  <chrome-top-sites ng-if="getSetting('topSites.enabled')" class="{{getSetting('topSites.mode')}}"></chrome-top-sites>

  <div class="container" ng-class="{'topsites': getSetting('topSites.enabled')}">
    <clicktrap></clicktrap>
    <calendar ng-if="getSetting('main.viewmode') == 'calendar'" ng-show="!isPanelOpen()" event-service="CalendarEvents" view="{{getSetting('calendar.mode')}}"></calendar>
    <calendar ng-if="getSetting('main.viewmode') == 'todo'" template="templates/todopicker.html" event-service="CalendarEvents" view="date"></calendar>
  </div>

  <series-list ui-view="favorites"></series-list>
  <action-bar></action-bar>

  <sidepanel>
    <div ui-view="sidePanel"></div>
  </sidepanel>
  <query-monitor></query-monitor>
  <fast-search></fast-search>
  <img class='printlogo' src='img/logo/icon64.png'>

  <script src="dist/deps.js"></script>

  <script src="dist/app.js"></script>
<script src="dist/templates.js"></script><script src="cordova.js"></script><script src="dist/download.js"></script></body>
</html>
